<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
        content="ie=edge">
    <title>Reminder Buddy</title>
    <% include ./partials/header.ejs %>
</head>
<style>
    .recording {
        color: red;
    }

    .record-btn {
        color: green;
    }

    .rbctn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
</style>

<body>
    <div id="webcam"></div>
 
    <div class="ui container center">

        <div class="rbctn">
            <div class="column record-column">
                <i class="microphone icon large record-action record-btn"
                    id="recorder"
                    style="font-size : 15rem; cursor : pointer;"></i>
            </div>

            <i style="margin-top: 2rem; font-size: 2rem"> Hold to Record </i>
            <div style="margin-top: 2rem;"
                class="player"></div>
            <div class="ui form">
                <div class="fields">
                    <div class="field">
                        <label>Contact</label>
                        <input type="text"
                            class = "contact-input"
                            placeholder="Contact Name">
                    </div>
                    <div class="field">
                        <label>Telephone Number</label>
                        <input type="text"
                            class = "phone-input"
                            placeholder="Number +91">
                    </div>
                </div>
                <div class="schedule-btn ui button"
                    tabindex="0">Schedule</div>
            </div>
        </div>

    </div>


    <script>
        var callDetails = <%- call %>
        var contacts = <%- contacts %>
    </script>
    
    <script src="/javascripts/setup.js"></script>
</body>

</html>